<a class="text muted" href="{{.HomeLink}}">{{if .IsOrganization}}{{if .FullName}}{{.FullName}}{{if ne .FullName .FullPath}} ({{.FullPath}}){{end}}{{else}}{{.FullPath}}{{end}}{{else}}{{.Name}}{{if .FullName}} ({{.FullName}}){{end}}{{end}}</a>
