{{template "org/settings/layout_head" (dict "pageClass" "organization settings approvals")}}
<div class="org-setting-content">{{template "shared/approval_rules" .}}</div>
{{template "org/settings/layout_footer" .}}
